/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: Montserrat, sans-serif;
}

ul {
  list-style: none;

}


/* LAYOUT */
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* MAIN WINDOW */
#main-window {
    flex-grow: 1;
    display: flex;
}


/* SIDEBAR */
#sidebar {
    flex-basis: 230px; /* larghezza sidebar */
    display: flex;
    flex-direction: column;
}

#sidebar .sidebar-top ul img {
  width: 24px;
}

#Logo-Spotify {
  width: 50%;
  padding: 10px 0 20px 0;
}

#sidebar .sidebar-top ul li {
  border-left: 3px solid transparent;
}

#sidebar .sidebar-top ul li:hover {
  border-left-color: #00fc00;
}


.sidebar-top {
    flex-grow: 1;
    background-color: #000;

}

/*SIDEBAR-BOTTOM */
.sidebar-bottom {
    background: #000;
}

.sidebar-bottom img {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #7f7f7f;
  margin-left: 13px;
}

/* CONTENT */
#content {
    position: relative;
    flex-grow: 1;
    background: #141921;
}

.content-top-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background: rgba(0, 0,0, .5);
	z-index: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
}


#content .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* 90px = height di content-top-bar */
    padding: 90px 15px 30px;
}
#content .scrollable ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#content .scrollable li {
  margin: 0 10px;
  border-bottom: 3px solid transparent;
}

#content .scrollable li:hover {
  border-color: #00fc00;
}
.content-menu {

}

.content-category {

}

.container-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-img2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* BOTTOM PLAYER */
#player {
  height: 90px;
  background: #333;
  display: flex;
  /*align-items: center;*/
  border: 3px dotted red;
  justify-content: flex-start;
}

.current-track {
  display: flex;
  align-items: center;
  border: 3px dotted blue;

}

.blocco-img {
  max-width: 60px;
  border: 3px dotted yellow;
}

.blocco-img img {
  width: 100%;
}

.blocco-preferiti {
  display: flex;
  align-items: center;
  border: 3px dotted violet;
}

.blocco-titolo-autore {
  border: 3px dotted green;
}

.blocco-preferiti i:nth-child(2)  {
  padding-left: 15px;
}

.menu-controller {
  border: 3px dotted green;

}
.status-bar {
  border: 3px dotted red;
}
