/*QUI INSERISCO TUTTE LE UTILITIES */
.margin-left {
  margin-left: 15px;
}

.padding-sx {
  padding-left: 5px;
}


.font-size {
  font-size: 30px;
}

.padding {
  padding: 15px 0 10px 0;
}

.vertical-align-bottom {
  vertical-align: bottom;
}
.vertical-align-super {
  vertical-align: super;
}
