/*QUI INSERISCO TUTTE LE UTILITIES */
.margin-left {
  margin-left: 15px;
}

.margin-dx-sx {
  margin: 0 15px;
}

.padding-sx {
  padding-left: 5px;
}


.font-size {
  font-size: 30px;
}

.padding {
  padding: 15px 0 10px 0;
}

.padding-up-down {
  padding: 15px 0;
}

.vertical-align-bottom {
  vertical-align: bottom;
}
.vertical-align-super {
  vertical-align: super;
}

.vertical-align-middle {
  vertical-align: middle;
}

.font-size-14px {
  font-size: 14px;
}


.padding-bottom {
  padding-bottom: 10px;
}

.line-height-2 {
  line-height: 2;
}

.linea {
  border: 1px solid white;
}

.block {
  display: block;
}

.cerchio {
  border-radius: 1px;
  border: 1px solid white;
}

.button {
  background-color: transparent;
  border-radius: 15px;
  padding: 5px 30px;
  color: white;
  border: 2px solid;
}

.text-upper-case {
  text-transform: uppercase;
}

.album {
  width: calc((100%/6) - 10px);
}

.album2 {
  width: calc(100% /6);
}

.album img {
  width: 100%;
  display: block;
}

.album2 img {
  width: 100%;
  display: block;
}

.display-block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.content-category h4 {
  font-size: 16px;
}

.content-category span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
}

.content-category h4 {
  padding-top: 10px;
}

.border-radius-50 {
  border: 2px solid transparent;
  border-radius: 50%;
}

section {
  margin: 50px 0;
}


.span-font-style {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
}
